*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #029CE0;
}
header{
    background-color: white;
}
.navbar{
    padding-top: 2rem;
    padding: .5rem 2rem;
    background-color: white;
}
.nav-link{
    color: black;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0rem 1.5rem;
}
.profile-log-in{
    color: #005EA6;
    border-color: #005EA6;
    border-radius: 30rem;
    padding: .5rem 1rem;
    font-size: 12px;
    font-weight: 700;
}
.profile-sign-up{
    color: white;
    border-color: #005EA6;
    background-color: #005EA6;
    border-radius: 30rem;
    padding: .5rem .9rem;
    font-size: 12px;
    font-weight: 700;
}
.card-body{
    background-color: #012169;
    color: white;
    border: 0px;
    border-radius: 0%;
}
a.text-white{
    text-decoration: none;
    font-size: 14px;
}
a.text-white:hover{
    text-decoration: underline;
}
.flex-column li{
    margin-top: .5rem;
    list-style-type: none;
    line-height: 2rem;
    font-weight: 600;
}
.offcanvas{
    width: 21rem !important;
    height: 100vh;
}
.offcanvas-header{
    background-color: white;
    padding: 2rem;
    margin: .5rem 0rem;
}
.offcanvas-body{
    background-color: #012169;
}
.offcanvas-body .nav-item .nav-link{
    color: white;
    font-size: 23px;
    font-weight: bolder;
    margin-left: -5px;
    margin-top: 1rem;
}
.offcanvas-body a.text-white{
    text-decoration: none;
    font-size: 20px;
    line-height: 2rem;
    margin-top: 5rem;
}
.offcanvas-body a.text-white:hover{
    text-decoration: underline;
}
.offcanvas-sign-up{
    color: white;
    font-size: 16px;
    padding: 1.5rem 5rem;
    border: 2px solid white;
    border-radius: 5rem;
    background-color: transparent;
    margin: 5rem 1rem;    
}
.enterprise{
    display: grid;
    grid-template-columns: 1fr 1fr;
}